* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .name {         /* Anne Bezwada Lab 3: Flexbox Demo */
    text-align: left;
    padding: 10px;
    background: #4da2a2;
    font-weight: bold;
  }
  
  .menu-container {    /* blue for the date, database demos link, and main page link */
    color: #fff;
    background-color: #5995da;  
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }